<!-- <h1>Welcome to Angular - {{ title }}</h1> -->
<!-- <app-wish></app-wish> -->
<!-- <strong>Content</strong>
<input type="text" [(ngModel)]="name" />
<br /> -->

<!-- {{ name }}

<div class="app-wishes"></div> -->

<!-- <app-wishes></app-wishes> -->

<!-- <h1>Directives</h1> -->
<!-- 
<hr />
<app-server></app-server> -->
<!-- 
<app-hero></app-hero> -->
<!-- <div appColor>Hello Directive</div> -->

<!-- <div appElementcolor defaultcolor="yellow" mouseovercolor="gray">
  Test Directive
</div>

<p appElementcolor>Test Directive paragraph</p>
<hr />
<app-server></app-server> -->

<app-employee></app-employee>
